@model IEnumerable<FitnessViewer.Infrastructure.Models.Dto.PeaksDto>

<h4>Peak Power Summary</h4>

<div class="table-responsive">
    <table class="table">
        <tr>

            <th>Period</th>
            <th>5s</th>
            <th>1m</th>
            <th>5m</th>
            <th>20m</th>
            <th>1h</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@(p.Days == int.MaxValue ? "All" : @p.Days.ToString()) Days</td>
                <td>
                    @if (p.Seconds5 != null)
                    {
                        if (p.Seconds5.Peak != null)
                        {
                        @Html.ActionLink(p.Seconds5.Peak.ToString(), "ViewActivity", "Activity",
                                             new { Id = p.Seconds5.ActivityId },
                                             new { data_toggle = "tooltip", title = @p.Seconds5.Description })
                        }
                    }
                </td>
                <td>
                    @if (p.Minute1 != null)
                    {
                       if (p.Minute1.Peak != null)
                        {
                            @Html.ActionLink(p.Minute1.Peak.ToString(), "ViewActivity", "Activity",
                                    new { Id = p.Minute1.ActivityId },
                                    new { data_toggle = "tooltip", title = @p.Minute1.Description })
                        }
                    }
                </td>
                <td>
                    @if (p.Minute5 != null)
                    {
                        if (p.Minute5.Peak != null)
                        {
                            @Html.ActionLink(p.Minute5.Peak.ToString(), "ViewActivity", "Activity",
                                    new { Id = p.Minute5.ActivityId },
                                    new { data_toggle = "tooltip", title = @p.Minute5.Description })
                        }
                    }
                </td>
                <td>
                    @if (p.Minute20 != null)
                    {
                        if (p.Minute20.Peak != null)
                        {
                            @Html.ActionLink(p.Minute20.Peak.ToString(), "ViewActivity", "Activity",
                                    new { Id = p.Minute20.ActivityId },
                                    new { data_toggle = "tooltip", title = @p.Minute20.Description })
                        }
                    }
                </td>
                <td>
                    @if (p.Minute60 != null)
                    {
                        if (p.Minute60.Peak != null)
                        {
                            @Html.ActionLink(p.Minute60.Peak.ToString(), "ViewActivity", "Activity",
                                    new { Id = p.Minute60.ActivityId },
                                    new { data_toggle = "tooltip", title = @p.Minute60.Description })
                        }
                    }
                </td>
            </tr>
        }
    </table>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
