@model FitnessViewer.Infrastructure.Models.Dto.SportSummaryDto
<div class="row">
    <div class="col-xs-2">
        <div class="SummaryValue">@Model.ActivityCount</div>
        <div class="SummaryTitle">Workouts</div>
    </div>
    <div class="col-xs-2">
        <div class="SummaryValue">@Model.DurationLabel</div>
        <div class="SummaryTitle">Time</div>
    </div>
    <div class="col-xs-2">
        <div class="SummaryValue">@Model.DistanceLabel</div>
        <div class="SummaryTitle">Distance</div>
    </div>
    <div class="col-xs-2">
        <div class="SummaryValue">@Model.ElevationGainLabel</div>
        <div class="SummaryTitle">Ele Gain</div>
    </div>
    <div class="col-xs-2">
        @if (Model.IsBike || Model.IsRun)
        {
        <div class="SummaryPeakContainer">
            <div class="Peak Left">
                <div class="Title ">@Model.Peak1.Key</div>
                <div class="Value">@Model.Peak1.Value</div>
                <div class="Title ">@Model.Peak2.Key</div>
                <div class="Value">@Model.Peak2.Value</div>
            </div>
            <div class="Peak Right">
                <div class="Title ">@Model.Peak3.Key</div>
                <div class="Value">@Model.Peak3.Value</div>
                <div class="Title ">@Model.Peak4.Key</div>
                <div class="Value">@Model.Peak4.Value</div>
            </div>
            <div class="clearfix"></div>
        </div>
        }
    </div>
    <div class="col-xs-2">
        <div class="SummaryValue">@Model.SufferScore</div>
        <div class="SummaryTitle">SufferScore</div>
    </div>
</div>