@model FitnessViewer.Infrastructure.Models.Dto.AthleteDashboardDto
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
}
<div class="row">
    <div class="col-md-8">
        <h1>@Model.FirstName @Model.LastName - Dashboard</h1>
    </div>
    <div class="Icol-md-4">
        <div class="dateRangePicker">
            <div id="reportrange" >
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h4>Average Run Distance Per Week</h4>
        <canvas id="chart12weekRun" width="800" height="300" title="Recent Run Activity Summary"></canvas>
    </div>
    <div class="col-md-3">
        <h4>Average Bike Distance Per Week</h4>
        <canvas id="chart12weekBike" width="800" height="300" title="Recent Bike Activity Summary"></canvas>
    </div>
    <div class="col-md-3">
        <h4>Average Swim Distance Per Week</h4>
        <canvas id="chart12weekSwim" width="800" height="300" title="Recent Run Activity Summary"></canvas>
    </div>

    <div class="col-md-3">
        <h4>Bike PMC</h4>
        <canvas id="bikeTrainingLoadChart" width="800" height="300" title="Bike PMC Chart"></canvas>

    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div id="daySummaryTab" class="fvTab">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#Day7Tab" data-toggle="tab">7 Day</a>
                </li>
                <li>
                    <a href="#Day30Tab" data-toggle="tab">30 Day</a>
                </li>
                <li>
                    <a href="#Day90Tab" data-toggle="tab">90 Day</a>
                </li>
            </ul>
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="Day7Tab">
                    <h4>Run Stats</h4>@{Html.RenderPartial("_SportSummary", Model.Run7Day); }
                    <h4>Bike Stats</h4>@{Html.RenderPartial("_SportSummary", Model.Bike7Day); }
                    <h4>Swim Stats</h4>@{Html.RenderPartial("_SportSummary", Model.Swim7Day); }
                    <h4>Other Sport Stats</h4>@{Html.RenderPartial("_SportSummary", Model.Other7Day); }
                    <h4>Total</h4>@{Html.RenderPartial("_SportSummary", Model.All7Day); }
                </div>
                <div class="tab-pane" id="Day30Tab">
                    <h4>Run Stats</h4>@{Html.RenderPartial("_SportSummary", Model.Run30Day); }
                    <h4>Bike Stats</h4>@{Html.RenderPartial("_SportSummary", Model.Bike30Day); }
                    <h4>Swim Stats</h4>@{Html.RenderPartial("_SportSummary", Model.Swim30Day); }
                    <h4>Other Sport Stats</h4>@{Html.RenderPartial("_SportSummary", Model.Other30Day); }
                    <h4>Total</h4>@{Html.RenderPartial("_SportSummary", Model.All30Day); }
                </div>
                <div class="tab-pane" id="Day90Tab">
                    <h4>Run Stats</h4>@{Html.RenderPartial("_SportSummary", Model.Run90Day); }
                    <h4>Bike Stats</h4>@{Html.RenderPartial("_SportSummary", Model.Bike90Day); }
                    <h4>Swim Stats</h4>@{Html.RenderPartial("_SportSummary", Model.Swim90Day); }
                    <h4>Other Sport Stats</h4>@{Html.RenderPartial("_SportSummary", Model.Other90Day); }
                    <h4>Total</h4>@{Html.RenderPartial("_SportSummary", Model.All90Day); }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h4>Time by Sport</h4>
                <canvas id="chartTimeBySport" width="150" height="150"></canvas>
            </div>
        </div>
</div>
</div>

<div class="row">
    <div class="col-md-8">
        </div>
    </div>
        <div class="row">
            <div class="col-md-8">
                @{Html.RenderPartial("_RecentActivity", Model.RecentActivity); }
            </div>
            <div class="col-md-4">
                <h4>Weight - Latest @Model.CurrentWeight.Current on @Model.CurrentWeight.Date.ToString("dd MMM yyyy")</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-condensed">
                        <tr>
                            <th></th>
                            <th>Low</th>
                            <th>Average</th>
                            <th>High</th>
                            <th>Change</th>
                        </tr>
                        <tr>
                            <td>7 Day</td>
                            <td>@Model.CurrentWeight.Low7Day</td>
                            <td>@Model.CurrentWeight.Average7Day</td>
                            <td>@Model.CurrentWeight.High7Day</td>
                            <td>@Model.CurrentWeight.Change7Day</td>
                        </tr>
                        <tr>
                            <td>30 Day</td>
                            <td>@Model.CurrentWeight.Low30Day</td>
                            <td>@Model.CurrentWeight.Average30Day</td>
                            <td>@Model.CurrentWeight.High30Day</td>
                            <td>@Model.CurrentWeight.Change30Day</td>
                        </tr>
                    </table>
                </div>
                <canvas id="chartWeight" width="800" height="400"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @{Html.RenderPartial("_RunningTimes", Model.RunningTime); }
            </div>
            <div class="col-md-4">
                @{Html.RenderPartial("_PeakPowerSummary", Model.PowerPeaks); }
            </div>
        </div>
        @section scripts {
            @Scripts.Render("~/bundles/chart")
            <script type="text/javascript" src="~/Scripts/app/Controllers/dashboardController.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
            <script type="text/javascript">
            $(document).ready(function () {
                    var trainingLoadData = @Html.Raw(Json.Encode( @Model.DayValuesForChart()));

                    setupTrainingLoadChart(trainingLoadData);

                    function setupTrainingLoadChart(data) {
                        var trainingLoadChartData = {
                            labels: data.Date,
                            datasets: [
                                {
                                    label: 'LTL',
                                    data: data.LongTermLoad,
                                    lineThickness: 0.1,
                                    fill: false,
                                    radius:0,
                                    borderColor: '#545677'
                                },
                                {
                                    label: 'STL',
                                    data: data.ShortTermLoad,
                                    radius: 0,
                                    fill: false,
                                    borderColor: '#B1B2C1'
                                }
                            ]
                        };

                        var ctx = document.getElementById("bikeTrainingLoadChart").getContext("2d");

                        var myBarChart = Chart.Line(ctx, {
                            data: trainingLoadChartData,
                            options: {
                                animation: false
                            }
                        });
                    }
                DashboardController.init();
                }) </script>
        }
