@model FitnessViewer.ViewModels.AthleteViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/dataTables")
@Scripts.Render("~/bundles/chart")

<h1>@Model.FirstName @Model.LastName - Dashboard</h1>

<div class="row">
    <div class="col-md-4">
        @{Html.RenderPartial("RunningTimes", Model.RunningTime); }
    </div>
    <div class="col-md-4">
        <label for="chart12weekRun">
            Average Run Distance Per Week:<br />
            <canvas id="chart12weekRun" width="800" height="400"></canvas>
        </label>
    </div>
    <div class="col-md-4">
        @{Html.RenderPartial("PeakPowerSummary", Model.PowerPeaks); }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="table_id" class="table table table-striped table-hover compact ">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Dist mi
                    </th>
                    <th>Ele</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').dataTable({
                "ajax": "/api/activity/getactivities",
                "autoWidth": false,
                "deferRender": true,
                "order": [[1, "desc"]],
                "columns": [{
                    "data": function (data, type, row, meta) {
                        return '<a href="/activity/view/' + data.id + '">' + data.name + '</a>';
                    }
                },
                {
                    "data": {
                        _: "date",
                        sort: "startDateLocal"
                    }
                },
                { "data": "activityTypeId" },
                { "data": "distance" },
                { "data": "elevationGain" },
                { "data": "elapsedTime" }

                ]

                ,
                "columnDefs": [
                    { "className": "dt-right", "targets": [3, 4] },
                { "width": "60%", "targets": 0 }]
            });




            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/api/Activity/GetRunDistancePerWeek/",
                data: JSON,
                success: function (data) {
                    BarChart(data);
                },
                error: function () {
                    alert("Error!");
                }
            });


            function BarChart(data) {
                var barChartData = {
                    labels: data.Period,
                    datasets: [
                        {
            
                            label: 'Distance',
                            data: data.distance,
                            
                        }
                    ]
                }

                var ctx = document.getElementById("chart12weekRun").getContext("2d");

                var myBarChart = Chart.Bar(ctx, {
                    data: barChartData,
                    options: {
                        animation: false
                    }
                });


            }
        }) </script>



}