@model FitnessViewer.Infrastructure.Models.Dto.ActivityMinMaxDto
<h4>Summary Information - @Model.Label</h4>
<div>
    <table class="summaryInfoTable">
        <tr>
            <td class="summaryInfoLabelRight summaryInfoEdgeColumn">Time</td>
            <td class="summaryInfoValue summaryInfoColumn">@Model.Time</td>
            <td class="summaryInfoColumn">&nbsp;</td>
            <td class="summaryInfoColumn summaryInfoLabelRight">Strava SS</td>
            <td class="summaryInfoEdgeColumn"></td>
        </tr>
        <tr>
            <td class="summaryInfoLabelRight">Distance</td>
            <td class="summaryInfoValue">@Model.Distance</td>
            <td></td>
            <td class="summaryInfoLabelRight">TSS</td>
            <td class="summaryInfoValue">@Model.Analytics.TSS</td>
        </tr>
        <tr>
            <td class="summaryInfoLabelRight">Speed</td>
            <td></td>
            <td></td>
            <td class="summaryInfoLabelRight">IF</td>
            <td class="summaryInfoValue">@Model.Analytics.IF</td>
        </tr>
        <tr>
            <td class="summaryInfoLabelRight">Ele Gain</td>
            <td></td>
            <td></td>
            <td class="summaryInfoLabelRight">NP</td>
            <td class="summaryInfoValue">@Model.Analytics.NP</td>
        </tr>
        <tr>
            <td class="summaryInfoLabelRight">Ele Loss</td>
            <td></td>
            <td></td>
            <td class="summaryInfoLabelRight">W/Kg</td>
            <td class="summaryInfoValue">@Model.WattsPerKg</td>
        </tr>
        <tr>
            <th class="summaryInfoLabelRight summarySeperator">&nbsp;</th>
            <th class="summaryInfoMinMaxLabel summarySeperator">Min</th>
            <th class="summaryInfoMinMaxLabel summarySeperator">Ave</th>
            <th class="summaryInfoMinMaxLabel summarySeperator">Max</th>
            <th class="summaryInfoLabelLeft summarySeperator">&nbsp;</th>
        </tr>
        @foreach (var stream in Model.StreamSummary)
        {
            if (stream.HasStream)
            {
                <tr>
                    <td class="summaryInfoLabelRight">@stream.Name</td>
                    <td class="summaryInfoMinMaxLabel">@stream.GetMinimum()</td>
                    <td class="summaryInfoMinMaxLabel">@stream.GetAverage()</td>
                    <td class="summaryInfoMinMaxLabel">@stream.GetMaximum()</td>
                    <td class="summaryInfoLabelLeft">@stream.Suffix</td>
                </tr>
            }
        }
    </table>
</div>
