@model FitnessViewer.Infrastructure.Models.Dto.ActivityMinMaxDto
<h4>Summary Information - @Model.Label</h4>
<div>
    <table class="summaryInfoTable">
        <tr>
            <td class="summaryInfoLabelRight summaryInfoEdgeColumn">Time</td>
            <td class="summaryInfoValue summaryInfoColumn">@Model.Time</td>
            <td class="summaryInfoColumn">&nbsp;</td>
            <td class="summaryInfoColumn summaryInfoLabelRight">Strava SS</td>
            <td class="summaryInfoEdgeColumn"></td>
        </tr>
        <tr>
            <td class="summaryInfoLabelRight">Distance</td>
            <td class="summaryInfoValue">@Model.Distance</td>
            <td></td>
            <td class="summaryInfoLabelRight">TSS</td>
            <td class="summaryInfoValue">@Model.Analytics.TSS</td>
        </tr>
        <tr>
            <td class="summaryInfoLabelRight">Speed</td>
            <td></td>
            <td></td>
            <td class="summaryInfoLabelRight">IF</td>
            <td class="summaryInfoValue">@Model.Analytics.IF</td>
        </tr>
        <tr>
            <td class="summaryInfoLabelRight">Ele Gain</td>
            <td></td>
            <td></td>
            <td class="summaryInfoLabelRight">NP</td>
            <td class="summaryInfoValue">@Model.Analytics.NP</td>
        </tr>
        <tr>
            <th class="summaryInfoLabelRight summarySeperator">&nbsp;</th>
            <th class="summaryInfoMinMaxLabel summarySeperator">Min</th>
            <th class="summaryInfoMinMaxLabel summarySeperator">Ave</th>
            <th class="summaryInfoMinMaxLabel summarySeperator">Max</th>
            <th class="summaryInfoLabelLeft summarySeperator">&nbsp;</th>
        </tr>
        @if (Model.Power != null)
        {
            <tr>
                <td class="summaryInfoLabelRight">Power</td>
                <td class="summaryInfoMinMaxLabel">@Model.Power.Min</td>
                <td class="summaryInfoMinMaxLabel">@Model.Power.Ave</td>
                <td class="summaryInfoMinMaxLabel">@Model.Power.Max</td>
                <td class="summaryInfoLabelLeft">@Model.Power.Suffix</td>
            </tr>
        }
        @if (Model.HeartRate != null)
        {
            <tr>
                <td class="summaryInfoLabelRight">Heart Rate</td>
                <td class="summaryInfoMinMaxLabel">@Model.HeartRate.Min</td>
                <td class="summaryInfoMinMaxLabel">@Model.HeartRate.Ave</td>
                <td class="summaryInfoMinMaxLabel">@Model.HeartRate.Max</td>
                <td class="summaryInfoLabelLeft">@Model.HeartRate.Suffix</td>
            </tr>
        }
        @if (Model.Cadence != null)
        {
            <tr>
                <td class="summaryInfoLabelRight">Cadence</td>
                <td class="summaryInfoMinMaxLabel">@Model.Cadence.Min</td>
                <td class="summaryInfoMinMaxLabel">@Model.Cadence.Ave</td>
                <td class="summaryInfoMinMaxLabel">@Model.Cadence.Max</td>
                <td class="summaryInfoLabelLeft">@Model.Cadence.Suffix</td>
            </tr>
        }
        @if (Model.Elevation != null)
        {
            <tr>
                <td class="summaryInfoLabelRight">Elevation</td>
                <td class="summaryInfoMinMaxLabel">@Model.Elevation.Min</td>
                <td class="summaryInfoMinMaxLabel">@Model.Elevation.Ave</td>
                <td class="summaryInfoMinMaxLabel">@Model.Elevation.Max</td>
                <td class="summaryInfoLabelLeft">@Model.Elevation.Suffix</td>
            </tr>
        }
    </table>
</div>
