@model FitnessViewer.ViewModels.ActivityViewModel
@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<link rel="stylesheet" type="text/css" href="~/Content/ActivityView.css" />

@Scripts.Render("~/bundles/chart")

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

@Html.Hidden("activityId", Model.Id)

<h1>@Model.Name</h1>

@if (!Model.DetailsDownloaded)
{
    <div class="alert alert-info">
        <strong>Warning!</strong> Waiting for full activity details to be downloaded.  Please try again in a minute or two.
    </div>

}
else
{

    <div class="row">
        <div class="col-md-2">
            <div class="summaryBox">
                <div class="SummaryValue">@Model.Distance</div>
                <div class="SummaryTitle">Distance (mi)</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="summaryBox">
                <div class="SummaryValue">@Model.ElapsedTime</div>
                <div class="SummaryTitle">Time</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="summaryBox">
                <div class="SummaryValue">00:00</div>
                <div class="SummaryTitle">Pace</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="summaryBox">
                <div class="SummaryValue">@Model.ElevationGain</div>
                <div class="SummaryTitle">Elevation</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="summaryBox">
                <div class="SummaryValue">54</div>
                <div class="SummaryTitle">Suffer Score</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="summaryBox">
                <div class="SummaryValue">12323</div>
                <div class="SummaryTitle">Calories</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-12">
                <div id="mapid"></div>
            </div>
            <div class="col-md-12">
                <canvas id="chartActivity" width="800" height="400"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div id="activitySummaryInformation">
                    @{Html.RenderPartial("_ActivitySummaryInformation", Model.SummaryInfo); }
                </div>
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
                <h4>Lap Info</h4>
                <div id="lapTab">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#lapTabData" data-toggle="tab">Lap</a>
                        </li>
                        <li>
                            <a href="#powerTabData" data-toggle="tab">Power</a>
                        </li>
                        <li>
                            <a href="#heartTabData" data-toggle="tab">Heart</a>
                        </li>
                        <li>
                            <a href="#cadenceTabData" data-toggle="tab">Cadence</a>
                        </li>
                    </ul>
                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="lapTabData">
                            <ul class="laps">
                                @foreach (var p in Model.Laps)
                                {
                                    <li class="lap" data-start-index="@p.StartIndex" data-end-index="@p.EndIndex" data-stream-step="@p.StreamStep">
                                        <div class="lapDetails">
                                            <span class="lapName">@p.Name</span>
                                            <span class="lapValue">
                                                @p.Value
                                                <span class="lapUnits">@p.Units</span>
                                            </span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="tab-pane" id="powerTabData">
                            <ul class="laps">
                                @foreach (var p in Model.Power)
                                {
                                    <li class="lap" data-start-index="@p.StartIndex" data-end-index="@p.EndIndex" data-stream-step="@p.StreamStep">
                                        <div class="lapDetails">
                                            <span class="lapName">@p.Name</span>
                                            <span class="lapValue">
                                                @p.Value
                                                <span class="lapUnits">@p.Units</span>
                                            </span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="tab-pane" id="heartTabData">
                            <ul class="laps">
                                @foreach (var p in Model.HeartRate)
                                {
                                    <li class="lap" data-start-index="@p.StartIndex" data-end-index="@p.EndIndex" data-stream-step="@p.StreamStep">
                                        <div class="lapDetails">
                                            <span class="lapName">@p.Name</span>
                                            <span class="lapValue">
                                                @p.Value
                                                <span class="lapUnits">@p.Units</span>
                                            </span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="tab-pane" id="cadenceTabData">
                            <ul class="laps">
                                @foreach (var p in Model.Cadence)
                                {
                                    <li class="lap" data-start-index="@p.StartIndex" data-end-index="@p.EndIndex" data-stream-step="@p.StreamStep">
                                        <div class="lapDetails">
                                            <span class="lapName">@p.Name</span>
                                            <span class="lapValue">
                                                @p.Value
                                                <span class="lapUnits">@p.Units</span>
                                            </span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h4>Activity Options</h4>
                <input type="button" value="Recalculate" onclick="location.href='@Url.Action("Recalculate", "Activity", new { id = Model.Id })'" />


                <a href="https://www.strava.com/activities/@Model.Id" class="StravaLink">View on Strava</a>
            </div>
        </div>
    </div>
    <script src="~/Scripts/app/Controllers/ViewActivityController.js" type="text/javascript"></script>
}