@model FitnessViewer.Infrastructure.Models.Dto.ActivityDetailDto
@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<link rel="stylesheet" type="text/css" href="~/Content/ActivityView.css" />

@Scripts.Render("~/bundles/chart")

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

@Html.Hidden("activityId", Model.Id)
@Html.Hidden("hasMap", Model.HasMap)
<div>
    @* Code to edit activity title inline - alternative to a popup edit form.
                 Search for INLINE_EDIT for other commented out code.

        <div class="control-group">
                <label class="ActivityTitle edit-label">@Model.Name</label>
                <input type="text" class="edit-input" /><div class="ActivityTitle">@Model.MovingTime</div>
                <div class="ActivityTitle">@Model.Distance<span class="ActivityTitleSuffix">mi</span></div>
                <div class="ActivityTitle">@Model.Analytics.TSS<span class="ActivityTitleSuffix">TSS</span></div>
                <a href="#" class="edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <input id="saveDescription" class="btn btn-sm save" type="submit" value="Save" />
        </div>*@

    <div class="control-group">
        <label class="ActivityTitle">@Model.Name</label>

        <div class="ActivityTitle">@Model.MovingTime</div>
        <div class="ActivityTitle">@Model.Distance<span class="ActivityTitleSuffix">mi</span></div>
        <div class="ActivityTitle">@Model.Analytics.TSS<span class="ActivityTitleSuffix">TSS</span></div>
        <a href='@Url.Action("Edit", "Activity", new { id = Model.Id })' data-modal="">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    </div>
    <a href="https://www.strava.com/activities/@Model.Id" class="StravaLink">View on Strava</a>
    <div>
        @Model.ActivityTypeId by @Model.Athlete.FirstName @Model.Athlete.LastName on @Model.Start.ToLongDateString()
    </div>
</div>

@if (!Model.DetailsDownloaded)
{
    <div class="alert alert-info">
        <strong>Warning!</strong> Waiting for full activity details to be downloaded.  Please try again in a minute or two.
    </div>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-12">
                @if (Model.HasMap)
                {
                    <div id="mapid"></div>
                }
                else
                {
                    <div id="nomap" class="alert alert-info">
                        Activity has no route details.
                    </div>
                }
            </div>
            <div class="col-md-12">
                <canvas id="chartActivity" width="800" height="400"></canvas>
            </div>
            <div class="col-md-12">
                Power Curve
                <canvas id="chartPowerCurve" width="800" height="400"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div id="activitySummaryInformation">
                    @{Html.RenderPartial("_ActivitySummaryInformation", Model.SummaryInfo); }
                </div>
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
                <h4>Lap Info</h4>
                <div id="lapTab" class="fvTab">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#lapTabData" data-toggle="tab">Lap</a>
                        </li>
                        <li>
                            <a href="#powerTabData" data-toggle="tab">Power</a>
                        </li>
                        <li>
                            <a href="#heartTabData" data-toggle="tab">Heart</a>
                        </li>
                        <li>
                            <a href="#cadenceTabData" data-toggle="tab">Cadence</a>
                        </li>
                    </ul>
                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="lapTabData">
                            @if (Model.Laps != null && Model.Laps.Count() > 0)
                            {

                                { Html.RenderPartial("_LapInformation", Model.Laps); }
                            }
                            else
                            {
                                <span>Activity has no lap information.</span>
                            }

                        </div>
                        <div class="tab-pane" id="powerTabData">
                            @if (Model.Power != null && Model.Power.Count() > 0)
                            {

                                { Html.RenderPartial("_LapInformation", Model.Power); }
                            }
                            else
                            {
                                <span>Activity has no power data.</span>
                            }
                        </div>
                        <div class="tab-pane" id="heartTabData">
                            @if (Model.HeartRate != null && Model.HeartRate.Count() > 0)
                            {

                                { Html.RenderPartial("_LapInformation", Model.HeartRate); }
                            }
                            else
                            {
                                <span>Activity has no heart rate information.</span>
                            }
                        </div>
                        <div class="tab-pane" id="cadenceTabData">
                            @if (Model.Cadence != null && Model.Cadence.Count() > 0)
                            {

                                { Html.RenderPartial("_LapInformation", Model.Cadence); }
                            }
                            else
                            {
                                <span>Activity has no cadence information.</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                @if (Model.PowerZones != null && Model.PowerZones.Count() > 0)
                {
                    <h4>Power Zones</h4>
                    { Html.RenderPartial("_ZoneInformation", Model.PowerZones); }
                }
            </div>
            <div class="col-md-12">
                @if (Model.HeartRateZones != null && Model.HeartRateZones.Count() > 0)
                {
                    <h4>Heart Rate Zones</h4>
                    { Html.RenderPartial("_ZoneInformation", Model.HeartRateZones); }
                }
            </div>
            <div class="col-md-12">
                @if (Model.RunPaceZones != null && Model.RunPaceZones.Count() > 0)
                {
                    <h4>Pace Zones</h4>
                    { Html.RenderPartial("_ZoneInformation", Model.RunPaceZones); }
                }
            </div>
            <div class="col-md-12">
                <h4>Activity Options</h4>
                <input type="button" value="Recalculate" onclick="location.href='@Url.Action("Recalculate", "Activity", new { id = Model.Id })'" />
                <input type="button" value="Delete And Re-download" onclick="location.href='@Url.Action("Redownload", "Activity", new { id = Model.Id })'" />

            </div>
        </div>
    </div>
                        // Modal form
                        <div id='fvModal' class='modal fade in'>
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div id='fvModalContent'></div>
                                </div>
                            </div>
                        </div>
                        }
@section scripts {
    <script src="~/Scripts/app/Controllers/ViewActivityController.js" type="text/javascript"></script>
    <script src="~/Scripts/app/modalForm.js" type="text/javascript"></script>
}
