@model FitnessViewer.ViewModels.SleepViewModel
@{
    ViewBag.Title = "Sleep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Sleep Time</h2>

@using (Html.BeginForm("AddSleep", "Metrics"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.DateRecorded)
        @Html.TextBoxFor(m => m.DateRecorded, new { @class = "form-control", placeholder = "eg 29 Sep 2016" })
        @Html.ValidationMessageFor(m => m.DateRecorded)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TimeRecorded)
        @Html.TextBoxFor(m => m.TimeRecorded, new { @class = "form-control", placeholder = "eg 07:15" })
        @Html.ValidationMessageFor(m => m.TimeRecorded)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Hours)
        @Html.TextBoxFor(m => m.Hours, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Hours)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Minutes)
        @Html.TextBoxFor(m => m.Minutes, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Minutes)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <br />
    <br />
    @Html.LabelFor(m => m.MoveOntoNextDay)
    @Html.CheckBoxFor(m => m.MoveOntoNextDay, new { @class = "checkbox" })
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
