@model FitnessViewer.ViewModels.MeasurementViewModel
@{
    ViewBag.Title = "Add Measurement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Measurement</h2>

@using (Html.BeginForm("Add", "Measurement"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.DateRecorded)
        @Html.TextBoxFor(m => m.DateRecorded, new { @class = "form-control", placeholder = "eg 29 Sep 2016" })
        @Html.ValidationMessageFor(m => m.DateRecorded)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TimeRecorded)
        @Html.TextBoxFor(m => m.TimeRecorded, new { @class = "form-control", placeholder = "eg 07:15" })
        @Html.ValidationMessageFor(m => m.TimeRecorded)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Weight)
        @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Weight)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bodyfat)
        @Html.TextBoxFor(m => m.Bodyfat, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Bodyfat)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>

}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
